.titleFormat {
  color: white;
  font-size: x-large;
}

.optionsFormat {
  color: white;
  justify-content: left;
  align-items: left;
}

.buttonFormat {
  width: 5%;
  height: auto;
  background-color: white;
}

.questionFormat {
  border-color: #ff0000;
}

.scoreFormat {
  border-color: red;
}
